:root {
    --primary-color: #F53838;
    --text-color-dark: #0B132A;
    --text-color-light: #4F5665;
    --background-light: #F8F8F8;
    --white: #ffffff;
    --border-color: #DDDDDD;
    --shadow-color: rgba(0, 0, 0, 0.1);
}


body {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color-light);
    background-color: var(--white);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.desktop-1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

strong {
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-dark);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
    text-align: center;
}

.auth-buttons .signup {
    border: 1px solid var(--primary-color);
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    color: var(--primary-color);
    font-weight: 500;
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    padding: 30px 0;
}

.hero-content h1 {
    font-size: 36px;
    line-height: 50px;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.get-started-btn {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 18px 60px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(245, 56, 56, 0.35);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 20px 40px var(--shadow-color);
    margin: 50px 0;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.stats .stat-item:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 2px solid #EEEFF2;
}

.icon-bg {
    background-color: rgba(245, 56, 56, 0.1);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.stat-item p {
    margin: 0;
    font-size: 20px;
    color: var(--text-color-light);
}

.stat-item p strong {
    font-size: 25px;
    color: var(--text-color-dark);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}
.features-image {
    margin-bottom: 30px;
}

.features-content h2 {
    font-size: 30px;
    line-height: 40px;
    color: var(--text-color-dark);
}

.features-content p {
    line-height: 30px;
    margin: 20px 0;
}

.features-content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: flex-start;
    text-align: left;
}

.pricing {
    text-align: center;
    padding: 60px 0;
    background: var(--background-light);
}

.pricing h2 {
    font-size: 30px;
    color: var(--text-color-dark);
}

.pricing > p {
    margin: 20px auto 40px;
    line-height: 30px;
}

.pricing-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pricing-card {
    background-color: var(--white);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 40px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
}

.pricing-card h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark);
    margin: 30px 0;
}

.pricing-card ul {
    text-align: left;
    margin-bottom: 30px;
    width: 100%;
}

.pricing-card ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.pricing-card .price-section {
    margin-top: auto;
}

.pricing-card .price {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.pricing-card .price span {
    font-weight: 400;
    color: var(--text-color-light);
}

.pricing-card button {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 13px 63px;
    background: transparent;
    color: var(--primary-color);
    font-weight: 700;
}

.pricing-card.recommended {
    border-color: var(--primary-color);
}

.pricing-card.recommended .recommended-btn {
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0 10px 20px rgba(245, 56, 56, 0.35);
}

.global-network {
    text-align: center;
    padding: 60px 0;
}

.global-network h2 {
    font-size: 30px;
    color: var(--text-color-dark);
}

.global-network > p {
    margin: 20px auto 60px;
    line-height: 30px;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.sponsors img {
    height: 40px;
}

.testimonials {
    text-align: center;
    padding: 60px 0;
}

.testimonials h2 {
    font-size: 30px;
    color: var(--text-color-dark);
}

.testimonials > p {
    margin: 20px auto 40px;
    line-height: 30px;
}

.testimonial-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonial-card {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    position: relative;
}

.testimonial-card.active {
    border-color: var(--primary-color);
}

.customer-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.customer-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.customer-info .name {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark);
}
.customer-info .location {
    font-size: 14px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.rating img {
    width: 15px;
    height: 15px;
}
.comment {
    line-height: 26px;
}

.testimonial-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.dots {
    display: flex;
    gap: 15px;
    order: 2;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #DDE0E4;
}

.dot.active {
    background-color: var(--primary-color);
    width: 45px;
    border-radius: 10px;
}

.arrows {
    order: 1;
}

.arrows button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.arrows button img {
    width: 20px;
}

.arrows .arrow-right {
    background-color: var(--primary-color);
}

.subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--shadow-color);
    transform: translateY(50%);
}

.subscribe-content h2 {
    font-size: 24px;
    color: var(--text-color-dark);
    margin: 0 0 10px 0;
}

.subscribe-content p {
    margin: 0;
}

.subscribe-btn {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 18px 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(245, 56, 56, 0.35);
}

.footer {
    background-color: var(--background-light);
    padding: 120px 20px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
}

.footer-col-1 {
    max-width: 340px;
}

.footer-col-1 .logo {
    margin-bottom: 20px;
    justify-content: center;
}

.footer-col-1 p {
    line-height: 30px;
    margin: 20px 0;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.social-icons a {
    background-color: var(--white);
    box-shadow: 0 5px 10px var(--shadow-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #AFB5C0;
    margin-top: 30px;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .desktop-1 {
        padding: 0 40px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 0;
    }

    .nav {
        flex-direction: row;
        gap: 30px;
    }

    .auth-buttons {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: auto;
    }

    .hero {
        flex-direction: row;
        text-align: left;
        gap: 40px;
    }

    .hero-content {
        max-width: 555px;
    }

    .stats {
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 0;
    }
    .stats .stat-item:not(:last-child) {
        border-bottom: none;
        padding-bottom: 0;
        border-right: 2px solid #EEEFF2;
        padding-right: 60px;
    }

    .features {
        flex-direction: row;
        text-align: left;
        gap: 40px;
    }

    .features-content {
        max-width: 430px;
    }
    
    .pricing-cards {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .global-network > p {
        margin: 20px auto 100px;
    }
    .sponsors img {
        height: 50px;
    }
    
    .testimonial-nav {
        flex-direction: row;
    }

    .dots {
        order: 1;
    }
    
    .arrows {
        order: 2;
    }

    .subscribe {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 40px 50px;
    }
    
    .subscribe-content h2 {
        font-size: 30px;
        max-width: 370px;
    }

    .footer {
        padding: 150px 40px 80px;
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-col-1 {
        flex-basis: 40%;
    }
    .footer-col {
        flex-basis: 15%;
    }
     .footer-col-1 .logo, .social-icons {
        justify-content: flex-start;
    }

}


@media (min-width: 1200px) {
    .desktop-1 {
        padding: 0 150px;
    }

    .header {
        padding: 50px 0;
    }

    .nav {
        gap: 40px;
    }

    .hero-content h1 {
        font-size: 50px;
        line-height: 70px;
    }
    
    .stats {
        padding: 50px 0;
    }
    .stats .stat-item:not(:last-child) {
        padding-right: 90px;
    }

    .features {
        gap: 120px;
    }
    
    .features-content h2 {
        font-size: 35px;
        line-height: 50px;
    }

    .pricing-cards {
        gap: 50px;
    }

    .global-network > p {
        margin: 20px auto 155px;
    }

    .testimonial-cards {
        flex-direction: row;
    }

    .subscribe {
        padding: 58px 70px;
    }
    .subscribe-content h2 {
        font-size: 35px;
    }

    .footer {
        padding: 180px 150px 100px;
        flex-wrap: nowrap;
    }
    .footer-col-1 {
        flex-basis: 30%;
    }
} 